:root {
    --first-color: hsl(176, 88%, 27%);
    --first-color-alt: hsl(129, 44%, 94%);
    --second-color: hsl(34, 94%, 87%);
    --title-color: hsl(0, 0%, 13%);
    --text-color: hsl(154, 13%, 32%);
    --text-light-color: hsl(60, 1%, 56%);

    --big-font-size: 3.5rem;
    --h1-font: 2.75rem;
    --h2-font: 2rem;
    --h3-font: 1.75rem;
    --h4-font: 1.375rem;
    --large-font: 1.125rem;
    --normal-font: 1rem;
    --small-font: 0.875rem;
    --smaller-font: 0.75rem;
    --tiny-font: 0.6875rem;

    --transition: cubic-bezier(0, 0, 0.05, 1);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /* transition: all .2s linear; */
}

html {
    /* font-size: 62.5%; */
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: .5rem 7%;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
}

i {
    color: #000;
}

a {
    color: #000;
}

.nav,
.nav-menu,
.nav-list, 
.header-actions{
    display: flex;
    align-items: center;
}

.nav {
    justify-content: space-between;
    column-gap: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.nav-logo {
    font-size: 3.5rem;
}

.nav-menu {
    width: 100%;
    margin-left: 2.5rem;
}

.nav-list {
    column-gap: 2rem;
    margin-right: auto;
}

.nav-link {
    color: var(--title-color);
    font-weight: 700;
    transition: var(--transition);
}

.active-link,
.nav-link:hover {
    color: var(--first-color);
}

.form-input {
    border: 1px solid #ddd;
    padding-inline: 1rem;
    height: 45px;
    border-radius: .25rem;
    font-size: var(--small-font);
    outline: none;
}

.header-search {
    width: 340px;
    position: relative;
}

.header-search .form-input {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.search-btn {
    position: absolute;
    top: 24%;
    right: 1.25rem;
    cursor: pointer;
    font-size: 1rem;
    background: transparent;
    border: none;
}

.header-actions {
    column-gap: 1.25rem;
}

.header-btn {
    position: relative;
}

.header-btn i {
    font-size: 1.25rem;
}

.header-btn .count-product,
.header-btn .count-heart {
    position: absolute;
    top: -0.625rem;
    right: -0.625rem;
    height: 18px;
    width: 18px;
    background-color: var(--first-color);
    text-align: center;
    border-radius: 50%;
    color: #fff;
    line-height: 18px;
    font-size: var(--tiny-font);
}

.main {
    padding: 2rem 10%;
    margin-top: 84px;
    font-family: 'Open Sans', sans-serif;
}

.main .cart-heading {
    padding: 1rem 0 2.5rem ;
}

.cart-heading .cart-page-name {
    display: flex;
    align-items: center;
}

.cart-heading .cart-page-name li {
    margin-right: 6px;
    font-size: .9rem;
    font-weight: 500;
}

.main .cart-details .cart-detail-title{
    font-weight: 400;
    font-size: 1.5rem;
}

.main .cart-body {
    display: flex;
    justify-content: space-between;
}

.main .cart-body .cart-left {
    width: 70%;
}

.main .cart-body .cart-right {
    padding-right: 5rem;
}

.cart-body .cart-left .cart-box {
    padding-top: 2.5rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.cart-box .cart-info-product {
    display: flex;
    align-items: flex-start;
}

.cart-box .cart-info-product .product-img {
    height: 100px;
    width: 100px;
    margin-right: 15px;
}

.cart-info-product .product-img  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.cart-info-product .product-detail .product-name{
    padding-bottom: 20px;
}

.cart-info-product .product-detail .product-price {
    padding-bottom: 3px;
}

.product-price .product-discount {
    font-weight: 500;
}

.product-price .product-cost {
    font-size: 13px;
    text-decoration: line-through;
}

.product-quantity {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.border-quantity {
    border: 1px solid rgba(0,0,0,.1);
}

.product-quantity .number {
    width: 30px;
    height: 25px;
    border-left: 0;
    border-right: 0;
    font-weight: 400;
    font-size: .8rem;
    text-align: center;
    background-color: #B4B4B3;
    outline: none;
}

.product-quantity .minus,
.product-quantity .plus {
    width: 25px;
    height: 25px;
    background: transparent;
    cursor: pointer;
}