:root {
    --first-color: hsl(176, 88%, 27%);
    --first-color-alt: hsl(129, 44%, 94%);
    --second-color: hsl(34, 94%, 87%);
    --title-color: hsl(0, 0%, 13%);
    --text-color: hsl(154, 13%, 32%);
    --text-light-color: hsl(60, 1%, 56%);

    --big-font-size: 3.5rem;
    --h1-font: 2.75rem;
    --h2-font: 2rem;
    --h3-font: 1.75rem;
    --h4-font: 1.375rem;
    --large-font: 1.125rem;
    --normal-font: 1rem;
    --small-font: 0.875rem;
    --smaller-font: 0.75rem;
    --tiny-font: 0.6875rem;

    --transition: cubic-bezier(0, 0, 0.05, 1);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /* transition: all .2s linear; */
    font-family: 'Montserrat', sans-serif;
}

html {
    /* font-size: 62.5%; */
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: .5rem 7%;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
}

i {
    color: #000;
}

.nav,
.nav-menu,
.nav-list, 
.header-actions,
.product-rating,
.rating-star {
    display: flex;
    align-items: center;
}

.nav {
    justify-content: space-between;
    column-gap: 1rem;
}

.nav-logo {
    font-size: 3.5rem;
}

.nav-menu {
    width: 100%;
    margin-left: 2.5rem;
}

.nav-list {
    column-gap: 2rem;
    margin-right: auto;
}

.nav-link {
    color: var(--title-color);
    font-weight: 700;
    transition: var(--transition);
}

.active-link,
.nav-link:hover {
    color: var(--first-color);
}

.form-input {
    border: 1px solid #ddd;
    padding-inline: 1rem;
    height: 45px;
    border-radius: .25rem;
    font-size: var(--small-font);
    outline: none;
}

.header-search {
    width: 340px;
    position: relative;
}

.header-search .form-input {
    width: 100%;
}

.search-btn {
    position: absolute;
    top: 24%;
    right: 1.25rem;
    cursor: pointer;
    font-size: 1rem;
    background: transparent;
    border: none;
}

.header-actions {
    column-gap: 1.25rem;
}

.header-btn {
    position: relative;
}

.header-btn i {
    font-size: 1.25rem;
}

.header-btn .count-product,
.header-btn .count-heart {
    position: absolute;
    top: -0.625rem;
    right: -0.625rem;
    height: 18px;
    width: 18px;
    background-color: var(--first-color);
    text-align: center;
    border-radius: 50%;
    color: #fff;
    line-height: 18px;
    font-size: var(--tiny-font);
}

main {
    /* padding: 2rem 0; */
    margin-top: 84px;
}

main .slider {
    width: 100%;
    height: 70vh;
    margin: auto;
    margin-bottom: 1rem;
    background-color: #EADBC8;
}

.slider .slider-img {
    width: 70%;
    height: 100%;
    margin: auto;
}

.slider-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

main .service {
    border-bottom: 1px solid #e9eaeb;
    margin-bottom: 10px;
}

.service .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 7%;
}

.service .item {
    color: var(--text-light-color);
    font-weight: 500;
    line-height: 20px;
    display: flex;
    align-items: flex-start;
    padding: 18px 0;
}

.service .item .icon {
    margin-right: 4px;
    width: 44px;
    height: 44px;
    background-color: #F8E8EE;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service .item .icon img {
    max-width: 60%;
    height: auto;
}

.service .item .content {
    flex-grow: 1;
}

.service .item h3 {
    color: var(--text-color);
    margin: 0;
    font-weight: 700;
    line-height: 22px;
}

.products {
    width: 100%;
    padding: 2rem 7.5%;
}

.products .products-heading {
    margin-bottom: 10px;
}

.products .product-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    transition: all 0.4s ease;
}

.products .product-container .product-item {
    width: calc(25% - 2.5rem);
    margin-bottom: 50px;
    border: 1px solid #e9eaeb;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.products .product-container .product-item:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.12), 0 10px 10px rgba(0,0,0,0.18);
}

.product-item .product-img {
    position: relative;
    overflow: hidden;
    height: 250px;
}

.product-item .product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.product-item .product-img .sale-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 35px;
    width: 35px;
    background-color: #C70039;
    text-align: center;
    border-radius: 50%;
}

.product-img .sale-icon span {
    color: #F8E8EE;
    font-weight: 600;
    font-size: .75rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-img .cart-button {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    padding: 0.8rem;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.cart-button .add-btn {
    width: 100%;
    background-color: transparent;
    border: 2px solid #EADBC8;
    font-size: var(--tiny-font);
    padding: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    transition: all .2s ease;
}

.cart-button .add-btn:hover {
    background-color: #FFBB5C;
    color: #fff;
}

.product-img:hover .cart-button {
    transform: translateY(0);
}

.product-content {
    padding: 0.5rem 1rem;
    transition: all 0.4 ease;
    position: relative;
    border-bottom: 1.5px solid #000;
}

.product-content .product-title {
    overflow: hidden;
    display: block;
    font-weight: 700;
    color: var(--text-color);
    padding: 0.8rem 0 1.5rem 0;
    /* max-height: 50%; */
    text-overflow: ellipsis;
}

.product-content .product-brand {
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 5px;
    color: #7D7C7C;
}


.product-rating .rating-star li {
    margin-right: 4px;
}

.product-rating .rating-star i {
    color: #FFB000;
    font-size: 14px;
}

.product-rating .rating-sold {
    margin-left: 10px;
}

.product-rating .rating-sold p {
    font-family: 'Open Sans', sans-serif;
    font-size: .85rem;
    font-weight: 500;
}

.product-content .product-title:hover {
    color: #419197;
}

.product-item .product-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.product-price .products-sale {
    font-weight: 500;
}

.product-price .products-sale {
    font-size: 1.25rem;
    color: #D80032;
}

.product-price .products-cost {
    font-size: 0.875rem;
    text-decoration: line-through;
    color: var(--text-light-color);
}