@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&family=Lexend:wght@300;400;500;600;700;800&family=Lobster&family=Passion+One:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bgcolor-body);
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

.flexitem {
  display: flex;
  align-items: center;
}

header {
  font-size: 0.8rem;
  background-color: #fff;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06); */
  /* z-index: 999; */
  /* position: sticky; */
  top: 0;
  left: 0;
}

.header-top {
  display: flex;
  padding: 7px 7%;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
}

.header-top ul li {
  border-right: 1px solid #0a021c;
  padding: 0 1rem;
}
.header-top ul li a:hover {
  color: #6989c2;
}

.header-top ul li:first-child {
  padding-left: 0;
}

.flexitem li:last-child {
  border-right: none;
}

.header-top-left .contact-info {
  padding-left: 4px;
}

.header-middle {
  justify-content: space-between;
  padding: 10px 7%;
  font-size: 1.1rem;
}

.header-middle .logo {
  text-align: center;
  font-family: 'Fredoka', sans-serif;
}

.header-middle .logo h3 {
  font-size: 1rem;
  color: #6989c2;
}

.header-page {
  justify-content: space-between;
  gap: 8rem;
}

.header-page ul {
  gap: 2.2rem;
}

.header-page a:hover {
  transition: all .3s ease;
  color: #6989c2;
}

.header-page .search-bar {
  /* padding-left: 100px; */
  width: 300px;
  position: relative;
}

.search-bar input{
  width: 100%;
  height: 40px;
  border-radius: 20px;
  outline: none;
  border: transparent;
  background-color: #6989c2;
  color: #fff;
  padding: 0 35px 0 15px;
}

.search-bar .search-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.search-btn i {
  color: #fff;
}

::placeholder {
  color: #fff;
}

.other-icon {
  justify-content: space-between;
  gap: 2.5rem;
}

.other-icon i {
  font-size: 1.4rem;
}

.other-icon i:hover {
  color: #6989c2;
  opacity: 0.8;
}

.icon-cart {
  position: relative;
}

.fly-item {
  position: absolute;
  top: -50%;
  right: -40%;
  width: 1.4rem;
  height: 1.1875rem;
  background-color: #6989c2;
  border-radius: 25px;
}

.fly-item .item-number {
  color: #fff;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.subnav {
  padding: 7px 10%;
  background-color: #ededed;
}

.subnav ul {
  justify-content: space-between;
}

.subnav li a span:hover {
  color: #6989c2;
}

.subnav a img {
  width: 40px;
  object-fit: contain;
  object-position: center;
}

.subnav a span {
  padding-left: 5px;
  font-size: 1.4rem;
  font-family: 'Passion One', sans-serif;
  font-weight: 400;
}

.main {
    /* margin-top: 81px; */
    padding: 1.5rem 7%;
    background-color: #f5f5f5;
    padding-bottom: 0;
}

.main .cart-freeship-banner {
    display: flex;
    align-items: center;
    border: 1px solid rgba(224,168,0,.4);
    border-radius: 2px;
    background-color: #fffefb;
    padding: .75rem 1rem;
    margin-bottom: .625rem;
    font-family: 'Montserrat', sans-serif;
}

.main .cart-freeship-banner img {
    width: 24px;
    height: 20px;
}

.cart-freeship-banner .cart-freeship-banner-title {
    font-size: 0.95rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: .5rem;
    line-height: 1.2;
}

.main .cart-frame-heading {
    display: flex;
    align-items: center;
    height: 55px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    background: #fff;
    border-radius: 4px;
    margin-bottom: 1rem;
    padding: 0 20px;
    font-family: 'Montserrat', sans-serif;
}

.cart-product {
    width: 43%;
    padding-left: 4rem;
}

.cart-price {
    width: 15%;
    text-align: center;
}

.cart-quantity {
    width: 15%;
    text-align: center;
}

.cart-total {
    width: 15%;
    text-align: center;
}

.cart-active {
    width: calc(100% - 88%);
    text-align: center;
}

.cart-frame-body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 22px 0;
}

.cart-frame-body .cart-box {
    padding: 16px 0 30px 0;
    border: 1px solid rgba(0,0,0,.09);
    margin: 25px 20px;
}

.cart-frame-body .cart-box,
.cart-box-quantity {
    display: flex;
    align-items: center;
}

.cart-box .cart-title-product {
    display: flex;
    align-items: flex-start;
    /* padding-left: 4rem; */
}

.cart-box .cart-title-product img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
}

.cart-box .cart-title-product .cart-name-product {
    max-width: 70%;
    padding: 5px 20px 0 10px;
}

.cart-box-quantity {
    justify-content: center;
}

.border-quantity,
.cart-voucher {
    border: 1px solid rgba(0,0,0,.1);
}

.cart-box-quantity .minus,
.cart-box-quantity .plus {
    width: 32px;
    height: 32px;
    background: transparent;
    cursor: pointer;
}

.cart-box-quantity .product-number {
    width: 50px;
    height: 32px;
    border-left: 0;
    border-right: 0;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    outline: none;
}

.cart-name-active {
    cursor: pointer;
}

.footer {
    position: sticky;
    bottom: 0;
    left: 7%;
    right: 7%;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 1.5rem 6%;
    padding-bottom: 2rem;
    font-family: 'Roboto', sans-serif;

}

.footer .cart-payment {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.cart-payment .cart-voucher {
    width: 45%;
}

.title {
    background-color: #FF6969;
    color: #f5f5f5;
    padding: 5px 0 5px 10px;
}

.title p {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
}

.cart-payment .voucher-body {
    padding: 20px 0 30px 10px;
}

.voucher-body .voucher-type {
    padding: 10px 5px;
    width: 45%;
    border: 1px solid #9DB2BF;
    border-radius: 2px;
    outline: none;
}

.voucher-body .voucher-button {
    padding: 10px 20px;
    margin-left: 15px;
    border-radius: 2px;
    background-color: #000;
    border: 1px solid #9DB2BF;
    color: #f5f5f5;
    font-weight: 600;
    text-transform: uppercase;
}

.voucher-body .voucher-button:hover,
.cart-total-price .checkout-btn:hover {
    background-color: #474E68;
    transition: all .2s ease;
}

.cart-payment .cart-total-price {
    width: 50%;
    /* position: relative; */
}

.cart-total-info {
    padding-bottom: 20px;
    /* margin-bottom: 10px; */
    border-bottom: 2px solid #474E68;
}

.cart-total-info .bill-price,
.cart-total-info .bill-shipping,
.cart-total-price .bill-price-total {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.cart-total-price .checkout {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}

.cart-total-price .checkout-btn {
    padding: 10px 20px;
    border: 1px solid #474E68;
    background-color: #000;
    color: #fffefb;
    font-weight: 600;
    text-transform: uppercase;
}